header{
    background-color: rgb(180, 180, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    border-radius: 15px;
}

button{
    color: white;
    background-color: rgba(247, 231, 3, 0.568);
    border: 0;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    border: 1px solid black;
}

button:hover{
    background-color: rgba(247, 218, 55, 0.548);
    cursor: pointer;
    color: white;
}

input{
    border: 0;
    border-radius: 5px;
    padding: 5px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

li{
    list-style: none;   
    margin-right: 10px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}s

a:visited{
    color: white;
}

.jumbo{
    background-color: rgb(177, 166, 11);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
}

.button{
    display: flex;
    justify-content: center;
    margin: 2px;
    
}